.card {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);

  .card-header {
    border-radius: 10px 10px 0 0;
    background: #52508d;
    height: 100px;
    display: flex;
    align-items: center;

    svg {
      fill: #e0e0fa;
      margin-right: 1rem;
      margin-left: 2rem;
    }

    h2 {
      font-weight: normal;
      font-size: 2rem;
      text-align: left;
      color: #e0e0fa;
      margin-bottom: 0;
    }
  }

  .card-body {
    padding: 2rem;
  }
}
