*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
::selection {
  background: #9676df;
  color: #fff;
}
::-moz-selection {
  background: #9676df;
  color: #fff;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e8e8e8;
  -webkit-font-smoothing: antialiased;
}

p,
h2,
h6,
a,
a,
ul,
li,
label,
input,
textarea,
button {
  color: #666;
  font-size: 1rem;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: #43425d;
}

input:focus,
button:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.PageWithBg {
  min-height: 100vh;
  background: url('./assets/bg.svg');
  background-size: cover;
  display: flex;
  justify-content: center;
}

.PageWithoutBg {
  min-height: 100vh;
  @media screen and (min-width: 800px) {
    display: flex;
    justify-content: center;
  }
}

.wrapper {
  background-color: #f6f6f6;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 21rem;
  position: relative;
  @media screen and (max-width: 800px) {
    margin-left: 0;
  }
}

@import './styles/card.scss';
@import './styles/forms.scss';
@import './styles/animations.scss';
